@import url("npm:katex/dist/katex.min.css");

.mathbox {
    padding: 0 2px;
    resize: none;
    width: 100%;
    cursor: text;
}

textarea:focus + .mathbox {
    margin-top: 6px;
    padding-top: 4px;
    border-top: solid 1px var(--theme-border-colour-weak);
}

.katex-html span[style*="color: rgb(11, 238, 240)" i] {
    color: var(--theme-standalone-error-text-colour) !important;
}
